<router-outlet>
  <header class="
  bg-blue-400 shadow-md">
    <app-navbar></app-navbar>
  </header>
  
<body>
  <section class="min-h-screen flex flex-col md:flex-row bg-white">
    <!-- Columna izquierda: Imagen -->
    <div class="hidden md:flex md:min-w-1/2  shadow-xl/30 shadow-blue-500 rounded-r-lg">
      <img src="logo.png" alt="Imagen Login" class="w-full h-full object-cover">
    </div>
  
    <div class="w-full md:w-1/2 flex items-center justify-center inset-shadow-2xs">
      <div class="container w-full max-w-md p-8 space-y-6 shadow-xl/30 rounded-lg shadow-cyan-500">
        <h1 class="text-2xl font-bold text-blue-400 text-center">Inicio de Sesion</h1>
        <form action="#" class="space-y-4">
          <div>
            <label for="email" class="block text-sm font-medium text-blue-500">Correo Electronico</label>
            <input type="email" name="email" id="email" required 
               class="w-full mt-1 p-2.5 rounded-lg border border-blue-500">
          </div>

          <div>
            <label for="email" class="block text-sm font-medium text-blue-500">Contraseña</label>
            <input type="password" name="password" id="password" required
            class="w-full mt-1 p-2.5 rounded-lg border border-blue-500">
          </div>

          <button type="submit"
            class="w-full bg-blue-600 hover:bg-blue-700 text-white font-medium rounded-lg px-5 py-2.5 cursor-pointer">
            Sign in
          </button>
        </form>
      </div>
      
    </div>
    <!-- Columna derecha: Formulario -->
    <!--<div class="w-full md:w-1/2 flex items-center justify-center bg-white">
      <div class="w-full max-w-md p-8 space-y-6">
        <h1 class="text-2xl font-bold text-gray-900 text-center">Sign in to your account</h1>
        <form class="space-y-4" action="#">
          <div>
            <label for="email" class="block text-sm font-medium text-gray-700">Your email</label>
            <input type="email" id="email" name="email" required
              class="w-full mt-1 p-2.5 rounded-lg border border-gray-300 bg-gray-50 text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-500">
          </div>
          <div class="">
            <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
            <input type="password" id="password" name="password" required
              class="w-full mt-1 p-2.5 rounded-lg border border-gray-300 bg-gray-50 text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-500">
          </div>
          <div class="flex items-center justify-between">
            <label class="flex items-center space-x-2">
              <input type="checkbox"
                class="w-4 h-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500">
              <span class="text-sm text-gray-600">Remember me</span>
            </label>
            <a href="#" class="text-sm text-blue-600 hover:underline">Forgot password?</a>
          </div>
          <button type="submit"
            class="w-full bg-blue-600 hover:bg-blue-700 text-white font-medium rounded-lg px-5 py-2.5">
            Sign in
          </button>
        </form>
      </div>
    </div>
  -->
  </section>
  </body>

</router-outlet>