<footer class="bg-gray-600 text-white py-4">
    <div class="container mx-auto flex flex-col md:flex-row md:space-x-72 space-y-6 md:space-y-0 px-4">
    
        <!-- Sección Institucional -->
        <div class="flex flex-col space-y-2">
          <h3 class="text-lg font-semibold text-blue-600 md:text-2xl">INSEDOMAU</h3>
          <p class="text-sm text-gray-300">Instituto Nacional de Seguridad y Defensa de la Mujer</p>
          <span class="text-white font-semibold">Teléfono:</span>
          <p class="text-gray-300">+593 2 1234567</p>
          <span class="text-white font-semibold">Email:</span>
          <p class="text-gray-300">Insedoumau&#64;gmail.com</p>
        </div>
    
        <!-- Sección Redes Sociales -->
        <div class="flex flex-col space-y-2">
          <h3 class="text-lg font-semibold text-blue-600 md:text-2xl">Redes Sociales</h3>
          <a href="https://www.facebook.com/INSOMAU/" target="_blank" class="text-gray-300 hover:text-blue-400">Facebook</a>
          <a href="https://twitter.com/INSOMAU" target="_blank" class="text-gray-300 hover:text-blue-400">Twitter</a>
          <a href="https://www.instagram.com/insedoumau/" target="_blank" class="text-gray-300 hover:text-blue-400">Instagram</a>
        </div>
    
        <!-- Sección Mapa del Sitio -->
        
        <div class="flex flex-col space-y-2">
          <h3 class="text-lg font-semibold text-blue-600 md:text-2xl">Mapa del Sitio</h3>
          <a class="text-gray-300 hover:text-blue-400">Inicio</a>
          <a class="text-gray-300 hover:text-blue-400">Sobre Nosotros</a>
          <a class="text-gray-300 hover:text-blue-400">Servicios</a>
          <a class="text-gray-300 hover:text-blue-400">Contacto</a>  
          <a class="text-gray-300 hover:text-blue-400">Política de Privacidad</a>
      </div>
    </div>

</footer>
