<body>
    <header>
        <app-navbar>
    
        </app-navbar> 
    </header>
   
    <section class="max-w-7xl mx-auto px-6 py-12 grid grid-cols-1 md:grid-cols-2 items-center gap-8 mt-11">
        <div>
          <h1 class="text-3xl md:text-4xl font-bold text-blue-600">Comprometidos con la Formacion de lideres del mañana</h1>
          <p class="mt-4 text-gray-600">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, nobis esse consequatur harum quas perferendis ea iusto soluta in praesentium velit consequuntur ex vel ducimus voluptatem libero hic. Blanditiis, tenetur!</p>
          <button class="mt-6 bg-blue-600 text-white py-2 px-6 rounded-full shadow hover:bg-blue-700 transition cursor-pointer">Descubre más</button>
        </div>
        <div>
          <img src="Img_info.jpg" alt="Persona usando GPS" class=" mt-11 rounded-xl shadow-lg" />
        </div>
      </section>
    
      <!-- INFORMACIÓN GENERAL -->
      <section class="py-12">
        <div class="max-w-7xl mx-auto px-6 text-center">
          <h2 class="text-2xl md:text-3xl font-bold text-blue-600">Información General</h2>
          <p class="text-gray-500 mt-2 mb-10 max-w-2xl mx-auto">Conoce las porque tu hijo deberia ser parte de esta gran institucion con</p>
    
          <div class="grid gap-8 md:grid-cols-3">
            <!-- Tarjeta 1 -->
            <div class="bg-white p-6 rounded-xl shadow-lg hover:shadow-xl transition">
              <img src="logo.png" alt="Rastreo" class="rounded mb-4">
              <h3 class="font-semibold text-blue-600 mb-2">Educacion de Calidad</h3>
              <p class="text-sm text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolores voluptatem, rerum mollitia, magnam nostrum quasi obcaecati labore ad doloremque suscipit ipsam praesentium quae sint at quidem. Ab, necessitatibus consectetur.</p>
              <button class="mt-4 text-blue-600 border border-blue-600 rounded-full px-4 py-1 hover:bg-blue-600 hover:text-white transition cursor-pointer">Leer más</button>
            </div>
    
            <!-- Tarjeta 2 -->
            <div class="bg-white p-6 rounded-xl shadow-lg hover:shadow-xl transition">
              <img src="logo.svg" alt="Zonas seguras" class="rounded mb-4">
              <h3 class="font-semibold text-blue-600 mb-2">Zonas Seguras</h3>
              <p class="text-sm text-gray-600">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus modi adipisci labore aut dicta est beatae, neque architecto consequatur excepturi sunt, vel natus possimus nostrum voluptates? Odio esse possimus libero?</p>
              <button class="mt-4 text-blue-600 border border-blue-600 rounded-full px-4 py-1 hover:bg-blue-600 hover:text-white transition cursor-pointer">Leer más</button>
            </div>
    
            <!-- Tarjeta 3 -->
            <div class="bg-white p-6 rounded-xl shadow-lg hover:shadow-xl transition">
              <img src="logo.png" alt="Adaptabilidad" class="rounded mb-4">
              <h3 class="font-semibold text-blue-600 mb-2">Accesibilidad y Adaptabilidad</h3>
              <p class="text-sm text-gray-600">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic architecto aut temporibus? Assumenda, blanditiis. Saepe alias quo fugit deleniti eligendi. Molestias ex voluptatum ipsa deleniti qui animi a rerum eveniet.</p>
              <button class="mt-4 text-blue-600 border border-blue-600 rounded-full px-4 py-1 hover:bg-blue-600 hover:text-white transition cursor-pointer">Leer más</button>
            </div>
          </div>
        </div>
      </section>

      <section class="py-12">
        <div class="max-w-7xl mx-auto px-6 text-center">
          <h2 class="text-3xl md:text-4xl font-bold text-blue-600">Beneficios de Escogernos</h2>
          <p class="text-sm md:w-3xl mt-2 mb-10 max-w-2xl mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum porro quae voluptatum at, sed excepturi quasi possimus voluptate ducimus nihil dolorem quibusdam veniam corrupti eius reprehenderit itaque. Aliquam, nam quidem!</p>
          
          <div class="grid gap-8 md:grid-cols-3">
            <div class="bg-white rounded-xl p-6 shadow-lg hover:shadow-xl transition">
              <img src="logo.png" alt="Rastreo" class="rounded mb-4">
              <h3 class="font-semibold text-blue-600 mb-2">Accesibilidad y Adaptabilidad</h3>
              <p class="text-sm text-gray-600">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum delectus, eaque odit placeat quidem asperiores. Reprehenderit ab sed dicta laudantium exercitationem nulla quasi dolor voluptatum in, nemo assumenda, cum quos.</p>
              <button class="mt-4 text-blue-600 border border-blue-600 rounded-full px-4 py-1 hover:bg-blue-600 hover:text-white transition cursor-pointer">
                Leer más
              </button>
            </div>
            <div class="bg-white rounded-xl p-6 shadow-lg hover:shadow-xl transition">
              <img src="logo.svg" alt="Rastreo" class="rounded mb-4">
              <h3 class="font-semibold text-blue-600 mb-2">Educacion de Calidad</h3>
              <p class="text-sm text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum delectus, eaque odit placeat quidem asperiores. Reprehenderit ab sed dicta laudantium exercitationem nulla quasi dolor voluptatum in, nemo assumenda, cum quos.</p>
              <button class="mt-4 text-blue-600 border border-blue-600 rounded-full px-4 py-1 hover:bg-blue-600 hover:text-white transition cursor-pointer">
                Leer más
              </button>
            </div>
            <div class="bg-white rounded-xl p-6 shadow-lg hover:shadow-xl transitions">
              <img src="logo.png" alt="Rastreo" class="rounded mb-4">
              <h3 class="font-semibold text-blue-600 mb-2">Zonas Seguras</h3>
              <p class="text-sm text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum delectus, eaque odit placeat quidem asperiores. Reprehenderit ab sed dicta laudantium exercitationem nulla quasi dolor voluptatum in, nemo assumenda, cum quos.</p>
              <button class="mt-4 text-blue-600 border border-blue-600 rounded-full px-4 py-1 hover:bg-blue-600 hover:text-white transition cursor-pointer">
                Leer más
              </button>
            </div>
          </div>
        </div>

      </section>

    <app-footer>

    </app-footer>
    </body>
    

