<body>
    <header>
        <app-navbar>
    
        </app-navbar> 
    </header>
   
    <section class="max-w-7xl mx-auto px-6 py-12 grid grid-cols-1 md:grid-cols-2 items-center gap-8 mt-11">
        <div>
          <h1 class="text-3xl md:text-4xl font-bold text-blue-600">Comprometidos con la Formacion de lideres del mañana</h1>
          <p class="mt-4 text-gray-600">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, nobis esse consequatur harum quas perferendis ea iusto soluta in praesentium velit consequuntur ex vel ducimus voluptatem libero hic. Blanditiis, tenetur!</p>
          <button class="mt-6 bg-blue-600 text-white py-2 px-6 rounded-full shadow hover:bg-blue-700 transition cursor-pointer">Descubre más</button>
        </div>
        <div>
          <img src="Img_info.jpg" alt="Persona usando GPS" class=" mt-11 rounded-xl shadow-lg" />
        </div>
      </section>
    
      <!-- INFORMACIÓN GENERAL -->
      <section class="bg-gray-100 py-12">
        <div class="max-w-7xl mx-auto px-6 text-center">
          <h2 class="text-2xl md:text-3xl font-bold text-blue-600">Información General</h2>
          <p class="text-gray-500 mt-2 mb-10 max-w-2xl mx-auto">Conoce las porque tu hijo deberia ser parte de esta gran institucion con</p>
    
          <div class="grid gap-8 md:grid-cols-3">
            <!-- Tarjeta 1 -->
            <div class="bg-white p-6 rounded-xl shadow-lg hover:shadow-xl transition">
              <img src="imgen1.jpg" alt="Rastreo" class="rounded mb-4">
              <h3 class="font-semibold text-blue-600 mb-2">Educacion de Calidad</h3>
              <p class="text-sm text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolores voluptatem, rerum mollitia, magnam nostrum quasi obcaecati labore ad doloremque suscipit ipsam praesentium quae sint at quidem. Ab, necessitatibus consectetur.</p>
              <button class="mt-4 text-blue-600 border border-blue-600 rounded-full px-4 py-1 hover:bg-blue-600 hover:text-white transition">Leer más</button>
            </div>
    
            <!-- Tarjeta 2 -->
            <div class="bg-white p-6 rounded-xl shadow-lg hover:shadow-xl transition">
              <img src="logo.png" alt="Zonas seguras" class="rounded mb-4">
              <h3 class="font-semibold text-blue-600 mb-2">Zonas Seguras</h3>
              <p class="text-sm text-gray-600">zonas seguras para el libre desarrollo de deportes y libertad estudiantil, ayudando a prevenir situaciones de riesgo.</p>
              <button class="mt-4 text-blue-600 border border-blue-600 rounded-full px-4 py-1 hover:bg-blue-600 hover:text-white transition">Leer más</button>
            </div>
    
            <!-- Tarjeta 3 -->
            <div class="bg-white p-6 rounded-xl shadow-lg hover:shadow-xl transition">
              <img src="Img_info.jpg" alt="Adaptabilidad" class="rounded mb-4">
              <h3 class="font-semibold text-blue-600 mb-2">Accesibilidad y Adaptabilidad</h3>
              <p class="text-sm text-gray-600">SensuTrack se adapta a diversas necesidades y ofrece soporte inteligente para mejorar la orientación, autonomía y seguridad de las personas ciegas.</p>
              <button class="mt-4 text-blue-600 border border-blue-600 rounded-full px-4 py-1 hover:bg-blue-600 hover:text-white transition">Leer más</button>
            </div>
          </div>
        </div>
      </section>
    
    </body>
    

