<body>
  <header>
    <app-navbar> </app-navbar>
  </header>

  <section
    class="max-w-7xl mx-auto px-6 md:px-12 py-16 grid grid-cols-1 md:grid-cols-2 items-center gap-12 lg:gap-20 mt-11"
  >
    <!-- Texto -->
    <div class="space-y-4">
      <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold text-red-600">
        <span class="text-red-600">Transforma tu Potencial</span> en Proyectos
        de Alto Impacto.
      </h1>

      <p class="text-gray-950 text-base md:text-lg">
        En <span class="text-lime-400"><b>EDH</b></span
        ><span class="text-red-600"><b>ONG</b></span
        >, creemos que el verdadero desarrollo comienza con la persona y se
        catapulta con la acción emprendedora. Somos la fundación que te equipa
        con las herramientas, la mentoría y el ecosistema necesario para
        convertir tus ideas en negocios sostenibles y tu talento en un agente de
        cambio social.
      </p>

      <button
        class="mt-4 bg-red-600 text-white py-3 px-8 rounded-full shadow hover:bg-lime-500 transition cursor-pointer"
      >
        <b>Descubre más</b>
      </button>
    </div>

    <!-- Imagen -->
    <div class="flex justify-center md:justify-end">
      <img
        src="imagenhome.png"
        alt="Persona usando GPS"
        class="w-3xl max-w-md md:max-w-lg lg:max-w-xl rounded-xl shadow-lg"
      />
    </div>
  </section>

  <!-- INFORMACIÓN GENERAL -->
  <section class="py-12">
    <div class="max-w-7xl mx-auto px-6 text-center">
      <h1 class="text-2xl md:text-5xl font-bold text-lime-600">
        Nuestros Convenios Educativos
      </h1>

      <div class="grid gap-6 md:grid-cols-2 mt-10">
        <!-- Card 1 -->
        <div
          class="card bg-white rounded-xl p-6 shadow-lg hover:shadow-xl transition"
        >
          <img src="imagenfunsema.png" class="w-96 h-56 mx-auto mb-4" />

          <h3 class="title text-3xl text-red-600 mt-4">
            <b>Programas Técnicos Laborales</b>
          </h3>
          <p>Conoce nuestros programas diseñados...</p>

          <button
            class="mt-4 text-red-500 border border-red-600 rounded-full px-4 py-1 hover:bg-red-500 hover:text-white transition cursor-pointer"
            (click)="abrirModalZonas()"
          >
            Leer más
          </button>
        </div>

        <!-- Card 2 -->
        <div
          class="card bg-white rounded-xl p-6 shadow-lg hover:shadow-xl transition"
        >
          <img src="imagenceco.png" class="w-80 h-56 mx-auto mb-4" />

          <h3 class="title text-3xl text-blue-600 mt-4">
            <b>Programas Técnicos Laborales</b>
          </h3>
          <p>Conoce nuestros programas diseñados...</p>

          <button
            (click)="abrirModalBecas()"
            class="mt-4 text-blue-500 border border-blue-600 rounded-full px-4 py-1 hover:bg-blue-500 hover:text-white transition cursor-pointer"
          >
            Leer más
          </button>
        </div>
      </div>

      <!-- MODAL REAL -->
      <app-modal
        [isOpen]="isOpen"
        [modalTitle]="modalTitle"
        [modalDescription]="modalDescription"
        [currentImage]="currentImage"
        [programas]="programas"
        (closed)="cerrarModal()"
      ></app-modal>
    </div>
  </section>

  <section class="py-12">
    <div class="max-w-7xl mx-auto px-6 text-center">
      <h1 class="text-2xl md:text-5xl font-bold text-lime-500">
        Valida Tu Bachillerato con Nosotros
      </h1>
    </div>

    <div
      class="max-w-7xl mx-auto px-6 md:px-12 py-16 grid grid-cols-1 md:grid-cols-2 items-center gap-12 lg:gap-20 mt-11"
    >
      <div class="space-y-4">
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold text-lime-500">
          <span class="text-blue-500">Otra Manera de Superarte</span>
        </h1>

        <p class="text-gray-950 text-base md:text-lg">
          Sabemos que la vida adulta tiene compromisos y que el tiempo es tu
          recurso más valioso. Por eso, hemos diseñado un programa flexible y
          acelerado que te permite obtener tu título de bachiller de forma
          oficial, en mucho menos tiempo que la educación tradicional.
          <b class="text-red-600">¡Es tu momento de avanzar!</b>
        </p>

        <button
          class="mt-4 bg-lime-500 text-white py-3 px-8 rounded-full shadow hover:bg-red-600 transition cursor-pointer"
        >
          <b>Descubre más</b>
        </button>
      </div>

      <!-- Imagen -->
      <div class="flex justify-center md:justify-end">
        <img
          src="imagenBachiller.png"
          alt="Persona usando GPS"
          class="w-3xl max-w-md md:max-w-lg lg:max-w-xl rounded-xl shadow-lg"
        />
      </div>
    </div>
  </section>

  <section class="py-12">
    <div class="max-w-7xl mx-auto px-6 text-center">
      <h1 class="text-2xl md:text-5xl font-bold text-red-600">
        ¿Listo para Impresionar? Preparamos tu Salto Profesional
      </h1>
    </div>

    <div
      class="max-w-7xl mx-auto px-6 md:px-12 py-16 grid grid-cols-1 md:grid-cols-2 items-center gap-12 lg:gap-20 mt-11"
    >
      <div class="space-y-4">
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold text-lime-500">
          <span class="text-lime-500"
            >Crece de manera Exponecial y Abrete Puertas en el mundo
            laboral</span
          >
        </h1>

        <p class="text-gray-950 text-base md:text-lg">
          Recibe orientación 1-a-1 para crear un CV que abra puertas y domina
          cada entrevista. Convierte tu potencial en resultados concretos,
          <b class="text-red-600">¡Es tu momento de avanzar!</b>
        </p>

        <button
          class="mt-4 bg-red-600 text-white py-3 px-8 rounded-full shadow hover:bg-lime-500 transition cursor-pointer"
        >
          <b>Descubre más</b>
        </button>
      </div>

      <!-- Imagen -->
      <div class="flex justify-center md:justify-end">
        <img
          src="imagenCV.png"
          alt="Persona usando GPS"
          class="w-xl max-w-md md:max-w-lg lg:max-w-xl rounded-xl shadow-lg"
        />
      </div>
    </div>
  </section>

  <app-footer> </app-footer>
</body>
